/*  imported from index.css  */

.index__portal___3a5M8 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.index__portal___3a5M8 .index__portalPosition___1iB1v {
    position: absolute;
    display: flex;
  }

.index__portal___3a5M8 .index__portalPosition___1iB1v > * {
      pointer-events: all;
    }
