:global {
  @import 'normalize.css';
  @import 'react-aperture/styles.css';
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.app, .sandbox, .controls {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.app {
  flex-direction: column;
}

@keyframes helloItem-anim {
  0% { height: 100px; margin-left: 0px; }
  50% { height: 200px; margin-left: 75px; }
  100% { height: 100px; margin-left: 0px; }
}

.helloItem {
  overflow: hidden;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  position: relative;
  min-height: 100px;
  border-radius: .4045rem;
  padding: .4045rem;

  .animated & {
    animation-name: helloItem-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

@keyframes overlay-anim {
  0% { left: 0; }
  50% { left: -75px; }
  100% { left: 0; }
}

.overlay {
  position: absolute;
  top: 2em;
  bottom: 25px;
  left: -75px;
  padding-left: 75px;
  right: 150px;
  opacity: .7;

  .animated & {
    animation-name: overlay-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .secretText {
    color: transparent;
  }

  .helloItem:hover & .secretText {
    color: blue;
  }
}

