.portal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .portalPosition {
    position: absolute;
    display: flex;
    pointer-events: none;

    & > * {
      pointer-events: all;
    }
  }
}
